body {
    background-color:puple;
    background-image: linear-gradient(rgba(194, 16, 248, 0.342), #0088ad9d);
    color: white;
}
.profile {
    display: block;
    width: 50%;
    height: 50%;
    margin: auto;
    padding: auto;
    border-radius: 35%;
    animation-name: up;
    animation-duration: 4s;
   

}
@keyframes up {
    0%{
        opacity: 0;
        
    }
    100%{
        opacity: 1;
        
    }

}

h1 {
    text-align: center;
}

ul {
    width: 100%;
    list-style: none;
}


#description {
    background-color: #4c628123;

    
}

#skill {

    background-color: #94adcfa4;

    
}

#contact {
    font-size: 30px;
    text-align: left;
}

h4 {
    
    text-align: center;
}
.col-xs-12.col-sm-6.col-lg-6{
    text-align: left;
}

footer {
    background-color:#c0f1ffa4;
    padding: 5px;
}
.git{
    width: 70px;
    height: 60px;
}
.col-xs{
    text-align: left;
}
@media only screen and (min-width: 992px) {
    .col-lg-12{
    text-align: center;
    width: 50%;
    margin: auto;
    padding: auto;
    }
}
@media only screen and (max-width: 576px) {
    .col-xs-6{
        width: 50%;
    }
}
.nav.nav-pills.flex-column.flex-sm-row{
    text-align: center;
    font-size: 22px;
    background-color: rgba(128, 0, 128, 0.548);
}
a{
    color: white;
    text-align: center;
}
.flex-sm-fill.text-sm-center.nav-link.active{
    background-color: #97b3df;
    
}
.toggleNav {
    display: none;
}

@media all and (max-width:992px) {
    .flex-nav ul.open {
        display: flex;
    }

    .flex-nav ul {
        display: none;
    }

    .flex-nav ul li {
        width: 100%;
    }

    .toggleNav {
        display: block;
        margin: auto;
        padding: auto;
    }
}

.contact {
    width: 5%;
}

img {
    width: 70%;
    height: 70%;
}

.col-xs-1.col-sm-6.col-lg-4 {
    text-align: center;
}

.col-xs-1.col-sm-6.col-lg-6 {
    text-align: center;
}

.col-xs-1.col-sm-6.col-lg-12 {
    text-align: center;
}



h6 {
    text-align: center;
    font-size: 18px;
}




ul {
    width: 100%;
    list-style: none;
    text-align: right;
}

footer {
    background-color: #c0f1ff55;
    padding: 5px;
}

.img_foot {
    width: 60px;
    height: 60px;
}

.git {
    width: 65px;
    height: 50px;
}

.col-xs {
    text-align: left;
}

@media only screen and (min-width: 992px) {
    .col-lg-12 {
        text-align: center;
        width: 50%;
        margin: auto;
        padding: auto;
    }

}

.nav.nav-pills.flex-column.flex-sm-row {
    text-align: center;
    font-size: 22px;
    background-color: rgba(128, 0, 128, 0.548);
}

.flex-sm-fill.text-sm-center.nav-link.active {
    background-color:  #97b3df;

}
.toggleNav {
    display: none;
}

@media all and (max-width:992px) {
    .flex-nav ul.open {
        display: flex;
    }

    .flex-nav ul {
        display: none;
    }

    .flex-nav ul li {
        width: 100%;
    }

    .toggleNav {
        display: block;
        margin: auto;
        padding: auto;
    }
}







