@import "~react-image-gallery/styles/css/image-gallery.css";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.Home {
  position: relative;
  height: 100vh;
  background-color: rgb(0, 5, 75);
}
nav {
  position: fixed;
  /* height: 10vh; */
  width: 100vw;
  background-color: rgb(0, 0, 95);
  border-bottom: solid 2px white;
  z-index: 2;
}
nav ul {
  margin-right: 55px;
  display: flex;
  justify-content: flex-end;
}

nav li {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  /* width: 100px; */
  height: 35px;
  list-style: none;
  margin: 20px 30px;
}
nav li a:hover {
  color: blue !important;
}

nav li a {
  color: rgb(213, 224, 228);
  text-decoration: none;
  transition: 0.5s;
}
.data-profile {
  position: relative;
  /* display: grid; */
  /* grid-template-columns: 0.5fr 1fr; */
}
.Title {
  /* position: relative; */
  position: absolute;
  bottom: 100px;
  left: 450px;
  transition: 0.5s;
  /* color: rgb(158, 205, 221); */
  color: rgb(180, 211, 221);
  margin-top: 100px;
  font-weight: bold;
  /* background-color: red; */
}
.Title h1 {
  padding: 100px 0px 0px 100px;
}

.Title h2 {
  padding: 40px 50px 100px 250px;
}
.data-profile img {
  /* position: absolute; */
  margin-left: 100px;
  margin-top: 100px;
  width: 340px;
  filter: drop-shadow(20px 0px 100px rgb(0, 25, 130));
}

/* end Home style */
.About {
  position: relative;
  background-color: rgb(5 12 70);
  color: rgb(180, 211, 221);
  z-index: -1;
}
.About .container {
  opacity: 100%;
  /* opacity: 0%; */
  transition: 0.5s;
  display: grid;
  padding: 80px 60px;
  grid-template-columns: repeat(3, 1fr);
}

.About .information {
  line-height: 1.75;
  padding: 190px 0px 0px 70px;
}
.About .aboutme h2 {
  color: blue;
  padding: 10px 0px 30px 30px;
  font-size: 32px;
}
.About .title {
  font-weight: bold;
}
.img-profile img {
  margin-left: 50px;
  width: 320px;
  padding-top: 10px;
}
.About li {
  list-style: none;
}

/* end About Style */

.Resume {
  position: relative;
  /* background-color: rgb(35, 0, 70); */
  /* background-color: rgb(55, 26, 83); */
  /* background-color: rgb(10 10 75); */
  background-color: rgb(25, 0, 75);
  /* background-color: rgb(53 5 55); */
  color: rgb(180, 211, 221);
  z-index: -1;
}
.Resume .container {
  transition: 0.5s;
  opacity: 100%;
  padding: 100px 50px;
  height: 100vh;
}
.Resume li {
  list-style: none;
  border-left: solid white 3px;
  padding-left: 15px;
}
.edu .time,
.exp .time {
  position: relative;
}
.edu .time::after,
.exp .time::after {
  position: absolute;
  width: 10px;
  height: 10px;
  left: -10px;
  bottom: 10px;
  content: "";
  background-color: rgb(5, 5, 175);
  border: 4px solid white;
  border-radius: 100%;
}

.Resume h2 {
  color: blue;
  font-size: 32px;
  padding: 15px 0px 0px 20px;
  /* border-bottom: 2px solid rgb(9, 47, 172); */
}
.Resume .Container-data {
  display: flex;

  /* gap: 50px; */
  margin: 40px 0px 0px 100px;
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* background-color: red; */
}
.Resume h3 {
  font-size: 24px;
  padding-bottom: 20px;
}
.Resume h4 {
  font-size: 21px;
  padding-bottom: 10px;
}
.Resume h5 {
  padding-left: 15px;
  font-size: 13px;
  line-height: 1.75;
}
.edu {
  /* background-color: rgb(0, 153, 255); */
  margin-left: 60px;
}
.exp {
  /* background-color: aqua; */
}
.edu li:nth-child(2),
.edu li:nth-child(4) {
  padding-bottom: 80px;
}
.exp li:nth-child(even) {
  padding-bottom: 30px;
}
.skill {
  display: grid;
  /* gap: 30px; */
  margin: 30px 0px 0px 60px;
  grid-template-columns: 1fr 1fr 1fr;
  /* background-color: red; */
}
.skill img {
  margin: 20px 15px;
  height: 50px;
}

/* end style rusume */

.Portfoloi {
  height: auto;
  background-color: rgb(20 10 85);
  /* z-index: -1; */
  /* position: relative; */
}
.Portfoloi .container {
  transition: 0.5s;
  opacity: 100%;
}
.Portfoloi .container-in {
  /* background-color: red; */
  margin-bottom: 10px;
  border-radius: 30px;
  transition: 0.2s;
}

.Portfoloi .projectlist {
  width: 930px;
  display: flex;
  gap: 15px;
  margin: auto;
  overflow: auto;
  color: rgb(180, 211, 221);
  /* background-color: red; */
}
.Portfoloi .projectlist::-webkit-scrollbar {
  height: 15px;
  border-radius: 10px;
  background-color: blue;
}
.Portfoloi .projectlist::-webkit-scrollbar-button {
  background-color: aquamarine;
  /* color: aliceblue; */
  height: 20px;
  width: 20px;
}
.Portfoloi .projectlist::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 10px;
}

.Portfoloi h2 {
  color: blue;
  padding: 90px 0px 20px 100px;
  font-size: 32px;
}
.Portfoloi .projectlist img {
  border-radius: 30px 30px 0px 0px;
}

.Portfoloi p {
  padding: 20px 15px;
  height: 270px;
  width: 300px;
  position: relative;
  text-indent: 50px;
  background-color: rgb(66, 31, 120);
  border-radius: 0px 0px 30px 30px;
}
.Portfoloi p a {
  position: relative;
  top: 20px;
  color: white;
  text-decoration: none;
}
.Portfoloi p a:hover {
  display: block;
  color: turquoise;
  transform: translateY(-5px);
  /* border: 2px solid ; */
}
.Portfoloi h3 {
  position: absolute;
  right: 25px;
  top: 185px;
}
.Portfoloi .logoskill {
  display: flex;
  position: absolute;
  right: 25px;
  top: 135px;
}
.logoskill img {
  margin: 3px;
  color: rgb(213, 224, 228);
  width: 40px;
}

/* end port style */
#contact-effect {
  transition: 0.5s;
}
.Contact {
  position: relative;
  z-index: 1;
  height: auto;
  background-color: rgb(15, 20, 100);
}
.Contact .container {
  width: 750px;
  height: 300px;
  margin: auto 300px;
  display: flex;
  gap: 30px;
  color: rgb(180, 211, 221);
}
.Contact h2 {
  color: blue;
  font-size: 32px;
  padding: 35px 0px 0px 60px;
}

.social ul {
  display: flex;
  align-items: center;
  /* background-color: bisque; */
}
.social li {
  margin: 20px;
  list-style: none;
}

.Contact form {
  display: grid;
  grid-template-areas:
    "name email"
    "message message";
  grid-template-columns: 1fr 1fr;
  background-color: rebeccapurple;
  position: relative;
  /* background-color: rgb(0, 89, 255); */
}
form input {
  background-color: transparent;
  width: 100%;
  height: 35px;
  /* border: 2px blue solid; */
}
.Contact .name,
.Contact .email {
  height: 30%;
  width: 100%;
  padding: 20px 20px 0px 20px;
  /* background-color: red; */
}
form .message {
  grid-area: message;
  padding: 0px 20px 20px 20px;
}
form .message input {
  width: 100%;
  height: 100px;
}
form label {
  display: block;
  padding-bottom: 20px;
}
.container iframe {
  width: 50%;
}
.Contact button {
  position: absolute;
  bottom: 0px;
  left: 160px;
  width: 80px;
  height: 30px;
}

/* end contact */

footer {
  margin-top: 50px;
  /* top: 10vh; */
  /* position: relative; */
  /* height: auto; */
  background-color: rgb(0, 60, 170);
}
footer li img {
  width: 35px;
  margin: auto 10px;
}

footer ul {
  display: grid;
  grid-template-columns: 5% 20% 5% 20% 5% 20%;
}

footer li {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 10px;
}
footer li h4 {
  color: rgb(213, 224, 228);
}
footer li h4:nth-child(1) {
  margin-bottom: 25px;
}

/* start responsive  style */
@media screen and (max-width: 1024px) {
  .data-profile {
    top: 40px;
  }
  .data-profile img {
    width: 350px;
    margin-left: 50px;
  }
  .Title {
    top: 50px;
    left: 380px;
  }
  .Title h1 {
    padding: 150px 0px 0px 50px;
  }
  .Title h2 {
    padding: 60px 0px 0px 120px;
  }
  /* end style home */

  .About .container {
    padding: 80px 60px;
    grid-template-columns: 30% 35% 35%;
  }
  .About .aboutme h2 {
    padding: 10px 0px 30px 20px;
  }
  .img-profile img {
    margin-left: 0px;
    padding-top: 50px;
  }
  .About .information {
    padding: 250px 0px 0px 70px;
  }
  footer li img {
    margin: auto 0px;
  }

  footer ul {
    grid-template-columns: 5% 25% 5% 25% 5% 25%;
  }
  .Contact .container {
    width: 700px;
    height: 300px;
    margin: auto;
    transform: translateY(50px);
  }

  .Contact button {
    bottom: 0px;
  }
  footer {
    margin-top: 150px;
    top: 210px;
  }
}

@media screen and (max-width: 768px) {
  nav ul {
    margin-right: 0px;
  }
  .data-profile img {
    transform: translateX(130px);
    margin-top: 100px;
    width: 350px;
  }
  .Title {
    left: 20px;
    top: 450px;
  }
  .Title h2 {
    transform: translateX(100px);
  }
  /* end style homepage */

  .About .container {
    padding: 10px 15px;
    grid-template-areas:
      "data-right data-right"
      "img data-left";
    grid-template-columns: 50% 50%;
    height: 80vh;
  }
  .About .aboutme {
    grid-area: data-right;
    padding-top: 50px;
  }
  .About .information {
    grid-area: data-left;
    padding: 150px 0px 0px 20px;
  }
  .img-profile img {
    grid-area: img;
    width: 300px;
    padding-top: 30px;
  }
  /* end style about */
  .skill {
    grid-template-columns: 1fr;
    margin: 30px 0px 0px 20px;
  }
  .skill .visible:nth-child(9) img {
    position: relative;
    bottom: 85px;
    right: 100px;
  }
  .skill .visible:nth-child(10) img {
    position: relative;
    bottom: 180px;
    right: 200px;
  }
  .skill .visible:nth-child(11) img {
    position: relative;
    bottom: 270px;
    right: 300px;
  }
  .Portfoloi .projectlist {
    width: 615px;
  }
  .Contact .container {
    width: 600px;
    height: 300px;
    margin: auto;
  }
  .Contact button {
    left: 100px;
  }
  footer ul {
    grid-template-columns: 10% 30% 10% 50%;
  }
}
@media screen and (max-width: 605px) {
  nav li {
    margin: 20px 25px;
  }
  .data-profile img {
    transform: translateX(70px);
    margin-top: 80px;
  }
  .Title {
    left: 0px;
    top: 420px;
  }
  .Title h2 {
    transform: translateX(70px);
  }
  /* end style home */
  .About .container {
    padding: 15px 15px;
  }
  .About .information {
    padding: 120px 0px 0px 45px;
  }
  /* end style about */
  .Resume .container {
    height: 105vh;
  }
  .skill {
    margin: 30px 0px 0px 0px;
  }
  .Resume .Container-data {
    margin: 30px 0px 0px 10px;
  }
  .Portfoloi .projectlist {
    width: 315px;
  }
  .Contact .container {
    width: 550px;
    height: 270px;
  }
  .Contact button {
    left: 90px;
  }
}
@media screen and (max-width: 480px) {
  nav li {
    margin: 20px 25px;
  }
  .data-profile img {
    transform: translateX(0px);
    margin-top: 100px;
    width: 300px;
  }
  .Title {
    left: -20px;
    top: 380px;
  }
  .Title h2 {
    transform: translateX(0px);
    padding: 20px 0px 0px 120px;
  }
  /* end style home */
  .About .information {
    padding: 20px 0px 0px 0px;
  }
  .About .container {
    transform: translateY(-30px);
    height: auto;
  }
  .img-profile img {
    transform: translateY(50px);
    width: 150px;
  }
  /* end style about */
  .Resume .container {
    height: auto;
  }
  .Resume .Container-data {
    display: grid;
    grid-template-columns: 45% 50%;
    margin: 30px 0px 0px -35px;
  }
  .skill {
    margin: 30px 0px 0px 60px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .skill .visible:nth-child(9) img,
  .skill .visible:nth-child(10) img,
  .skill .visible:nth-child(11) img {
    bottom: 0px;
    right: 0px;
  }
}
@media screen and (max-width: 375px) {
  .data-profile img {
    width: 220px;
    transform: translateX(20px);
    margin-top: 50px;
  }
  .Title {
    left: 0px;
    top: 150px;
  }
  .Title h1,
  .Title h2 {
    transform: translateX(-20px);
  }
  .Resume .Container-data {
    grid-template-columns: 35% 60%;
  }
  .Contact .container {
    width: 300px;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .container iframe {
    width: 100%;
  }
  .Contact button {
    left: 100px;
    bottom: 0px;
  }

  footer ul {
    grid-template-columns: 20% 80%;
  }
}
